{% extends 'base.html' %}

{% block title %}Delete Event{% endblock %}

{% block content %}
<h2 class="text-danger mt-5">Delete Event: {{ event['name'] }}</h2>
<div class="row">
    <div class="col-1 bg-light"></div>
    <div class="col-2 bg-light"><strong>Location:</strong></div>
    <div class="col-3 bg-light">{{ event['venue'] }}</div>
</div>
<div class="row">
        <div class="col-1"></div>
        <div class="col-2"><strong>Date</strong></div>
        <div class="col-3">{{ event['event_date'] }}</div>
        </div>
<div class="row">
    <div class="col-1 bg-light"></div>
    <div class="col-2 bg-light"><strong>Start Time</strong></div>
    <div class="col-3 bg-light">{{ event['start_time'] }}</div>
    </div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-2 "><strong>End Time</strong></div>
    <div class="col-3 ">{{ event['end_time'] }}</div>
</div>
<div class="row">
    <div class="col-1 bg-light"></div>
    <div class="col-2 bg-light"><strong>Maximum Attendees</strong></div>
    <div class="col-5 bg-light">{{ event['maximum_attendees'] }}</div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-2 "><strong>Invitation Text</strong></div>
    <div class="col-6 ">{{ event['invitation'] }}</div>
</div>
<div class="row">
    <div class="col-1 bg-light"></div>
    <div class="col-2 bg-light"><strong>Event Planner</strong></div>
    <div class="col-6 bg-light">{{ event['planner'] }}</div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-2"><strong>PartyTime Rental Items</strong></div>
    <div class="col-6">{{ event['rental_items'] }}</div>
</div>
<div class="row">
    <div class="col-1 bg-light"></div>
    <div class="col-2 bg-light"><strong>Event Notes:</strong></div>
    <div class="col-6 bg-light">
        {{ event['note'] }}
    </div>
</div>
<div class="row mt-3">
<div class="col-7 text-center">
    <a href="{{ url_for('show_event', event_id=event_id) }}" class="btn btn-primary">Back to Event Details</a>
    <a href="{{ url_for('delete_event', event_id=event_id, delete='1') }}" class="btn btn-danger">Really Delete This Event</a>
</div>
</div>
{% endblock %}