{% extends "base.html" %}

{% block title %}Venues{% endblock %}

{% block content %}
<img class="img-fluid" src="{{ url_for('static', filename='images/birthday-party.png') }}">
<h1 class = "display-4">PartyTime Venues</h1>
<table >
    <thead align="center">
        <tr>
            <td><b>Name</b></td>
            <td><b>Address</b></td>
            <td><b>Phone</b></td>
            <td><b>Fee</b></td>
            <td><b>Max Attendees</b></td>
        </tr>
    <tbody>
        {% for venue in venues %}
        <tr align="center">
            <td>{{venue['venue_name']}}</td>
            <td>{{venue['venue_address']}}</td>
            <td>{{venue['venue_phone']}}</td>
            <td>{{venue['rental_fee']}}</td>
            <td>{{venue['max_attendees']}}</td>
        </tr>
        {% endfor %}
    </tbody>
        
    
</table>

<a href="{{url_for('add_venue')}}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Add a Venue!</button>
</a>
{% endblock %}